* {
 margin:0;
 padding:0;
}
body {
  font: 10pt Verdana, sans-serif;
}
input[type=time] {
  width:50px;
}

.stream {
  display:table-cell;
  border-collapse:collapse;
  border:1px solid #000;
  margin:3px;
}
.stream th td {
  border:1px solid #000;
}
.stream caption {
  border:1px solid #000;
}
.stream caption form {
  display:inline;
}
.tasks {
  border:1px solid #f00;
}
